body {
    font-family: sans-serif;
    color: #6686f0;
    background-color: rgb(61, 61, 61);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo {
    font-family: 'Overpass', sans-serif;
    font-size: 40px;
    margin: 10px;
    padding: 5px;
}

.menu li {
    margin-right: 40px;
    list-style: none;
}

.menu {
    display: flex;
    margin: 10px;
    padding: 8px;

}

header h1 {
    font-size: 50px;
    letter-spacing: 4px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: block;
}

header {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 50px;
}

header p {
    font-size: 25px;
}

.box div {
    width: 100%;
}

.box {
    border: 3px solid #333;
    margin: 10px;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    background-color: rgb(53, 53, 53);
}

div {
    overflow: hidden;
}